@font-path:"../fonts";
//== Colors
@gray-base:#989898;
@body-bg:#fafdff;
//== Scaffolding
//
//## Settings for some of the most global styles.
//** Global text color on `<body>`.
@text-color:            #546479;
//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@font-family-sans-serif:  "KelsonLight", sans-serif;
@font-size-base:16px;
@headings-font-family:"KelsonRegular", sans-serif;
//== Buttons
@btn-default-color:              #fff;
@btn-default-bg:                 #129fdd;
//Forms
@input-color:@text-color;
@blue:#183e66;
/*Switches*/
@toggleheight: 2em;
@togglewidth: 3.2em;
@togglebg: rgb(255,255,255);
@togglebordersize: .12em;
@togglebordercolor: rgb(230,230,230);
@toggleinputwidth: @togglewidth * 1.5;

@switchbg: rgb(255,255,255);
@switchsize: @toggleheight * .95;
@switchbordersize: .1em;
@switchbordercolor: darken(@switchbg, 15%);

@activecolor: rgb(0,220,97);
@activebordercolor: darken(@activecolor, 5%);

@labeloffset: @toggleheight / 3.63636364;
@swborderradius: 2em;